/* Estilos para el texto */
* {
  font-family: Helvetica, sans-serif;
}

/* Estilos para los headings */
h1 {
  background-color: crimson;
  margin: 0;
  padding: 10px 20px;
}

/* Estilos para los enlaces */
a {
  color: crimson;
}